@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
img{
	border: 0;
}
ul,li,ol{
	list-style: none;
	font-size: 0;
}
body{
	font-size: 12px;;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

/*隐藏广告*/
.header-ad{
	width: 1583px;
	height: 60px;
	/*background: pink;*/
	position: relative;
}
.header-ad a{
	width: 100%;
	height: 60px;
	display: inline-block;
	background: url(../images/header-ad-01.jpg) no-repeat;
}
.header-ad span{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../images/header-ad-02.gif) no-repeat;
	position: absolute;
	left: 1232px;
	top: 15px;
}

/*头部导航*/
.header-nav{
	width: 1583px;
	height: 30px;
	background: #323232;
	position: relative;
}
.header-nav>a{
	width: 58px;
	height: 18px;
	display: inline-block;
	background: url(../images/header-nav-01.gif) no-repeat;
	position: absolute;
	left: 30px;
	top: 6px;
}

.header-nav .header-nav-left{
	display: inline-block;
	padding-left: 120px;
}
.header-nav .header-nav-left .header-nav-ul .header-nav-li{
	display: inline-block;
	padding-right: 30px;
}
.header-nav .header-nav-left .header-nav-ul .header-nav-li:nth-of-type(5) .header-nav-a{
	height: 30px;
	line-height: 30px;
	color: #1cb041;
}
.header-nav .header-nav-left .header-nav-ul .header-nav-li .header-nav-a{
	display: inline-block;
	font: bold 12px "微软雅黑";
	color: #c0c0c0;
}

.header-nav .header-nav-right{
	display: inline-block;
}
.header-nav .header-nav-right .header-nav-sousu{
	display: inline-block;
	position: absolute;
	left: 1150px;
	top: 6px;
}
.header-nav .header-nav-right .header-nav-sousu>input{
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 10px;
	/*display: none;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.header-nav .header-nav-right .header-nav-sousu .hideUl{
	display: none;
	width: 181px;
	height: 200px;
	background: #fff;
	position: absolute;
	left: 0;
	top: 30px;
	z-index: 1;
}
.header-nav .header-nav-right .header-nav-sousu>a{
	vertical-align: middle;
	width: 16px;
	height: 17px;
	display: inline-block;
	background: url(../images/header-nav-02.gif) no-repeat;
	position: absolute;
	left: 180px;
	top: 0px;
}

.header-nav .header-nav-right .header-nav-login{
	width: 215px;
	display: inline-block;
	position: absolute;
	left: 1368px;
	top: 0px;
	padding-left: 25px;
	background: url(../images/header-nav-03.gif) no-repeat 0px 6px;
	font-size: 0;
}
.header-nav .header-nav-right .header-nav-login a{
	display: inline-block;
	font: bold 12px/30px "微软雅黑";
	color: #c0c0c0;
	vertical-align: middle;
	margin-right: 14px;
}
.header-nav .header-nav-right .header-nav-login a:first-of-type{
	width: 16px;
	height: 17px;
	background: url(../images/header-nav-04.gif) no-repeat;
}
.header-nav .header-nav-right .header-nav-login a:nth-of-type(2){
	width: 16px;
	height: 17px;
	background: url(../images/header-nav-05.gif) no-repeat;
}
.header-nav .header-nav-right .header-nav-login a:nth-of-type(3){
	width: 16px;
	height: 17px;
	background: url(../images/header-nav-06.gif) no-repeat;
}

/*头部*/
.header{
	width: 1583px;
	height: 120px;
	/*background: pink;*/
	position: relative;
	background: url(../images/header-04.gif) no-repeat 900px center;
}
.header .header-bg{
	width: 1583px;
	height: 120px;
	display: inline-block;
	background: url(../images/header-01.jpg) no-repeat;
}

.header .header-form{
	width: 479px;
	height: 40px;
	position: absolute;
	left: 552px;
	top: 40px;
	background: #fff;
	border-radius: 20px;
}
.header .header-form input:first-of-type{
	width: 300px;
	margin-left: 22px;
	border: none;
	color: #dddddd;
	font-size: 12px;
	display: inline-block;
	outline: none;
}
.header .header-form .header-btn{
	line-height: 40px;
	margin-left: 50px;
	border: none;
	color: #00b081;
	background: url(../images/header-03.gif) no-repeat 0 center;
	font-size: 18px;
	padding-left: 30px;
	display: inline-block;
	outline: none;
}

.header .header-app .header-app-a{
	width: 50px;
	height: 97px;
	display: inline-block;
	background: #fe7566;
	position: absolute;
	left: 1264px;
	top: 0;
}
.header .header-app .header-app-a .header-app-img{
	width: 21px;
	height: 32px;
	background: url(../images/header-02.gif) no-repeat;
	margin: 16px 0 12px 15px;
}
.header .header-app .header-app-a .header-app-p{
	color: #fff;
	padding-left: 12px;
	font-size: 18px;
}


/*导航*/
.nav{
	width: 1160px;
	height: 50px;
	/*background: red;*/
	margin-left: 212px;
	position: relative;
}
.nav .nav-ul li{
	line-height: 50px;
	display: inline-block;
	padding: 0 30px;
	font-size: 16px;
}
.nav .nav-ul li a{
	color: #323232;
	font-size: 16px;
}
.nav .nav-ul li:first-of-type a{
	color: #00b081;
}
.nav .nav-ul li:nth-of-type(2) a img{
	position: absolute;
	left: -10px;
	top: 0;
}
.nav .nav-ul li:hover{
	color: #00b081;
	background: #ccc;
}
.nav .nav-ul li:hover a{
	color: #00b081;
}


/*广告条*/
.banner{
	width: 1583px;
	height: 420px;
	/*background: pink;*/
	position: relative;
}
/*.banner .banner-bg{
	width: 1583px;
	height: 420px;
	display: inline-block;
	background: url(../images/banner-01.jpg) no-repeat;
}*/

.banner .banner-div{
	width: 280px;
	height: 420px;
	position: absolute;
	left: 212px;
	top: 0;
	background: #442c11;
	color: #C0C0C0;
}

/*主体广告*/
.main-ad{
	width: 1583px;
	height: 150px;
	/*background: red;*/
	position: relative;
}
.main-ad a{
	width: 275px;
	height: 110px;
	display: inline-block;
}
.main-ad .main-ad-img1{
	background: url(../images/main-ad-01.jpg) no-repeat;
	position: absolute;
	left: 212px;
	top: 20px;
}
.main-ad .main-ad-img2{
	background: url(../images/main-ad-01.jpg) no-repeat;
	position: absolute;
	left: 507px;
	top: 20px;
}
.main-ad .main-ad-img3{
	background: url(../images/main-ad-01.jpg) no-repeat;
	position: absolute;
	left: 802px;
	top: 20px;
}
.main-ad .main-ad-img4{
	background: url(../images/main-ad-01.jpg) no-repeat;
	position: absolute;
	left: 1097px;
	top: 20px;
}


/*主体限时特卖*/
.main-now{
	width: 1583px;
	height: 280px;
	background: #f5f5f5;
	position: relative;
}
.main-now .main-now-top{
	width: 1160px;
	padding: 30px 0 30px 212px;
}
.main-now .main-now-top>h2{
	font: bold 35px "微软雅黑";
	color: #323232;
	display: inline-block;
}
.main-now .main-now-top>p{
	font: 12px "微软雅黑";
	color: #636363;
	display: inline-block;
}
.main-now .main-now-top>a{
	width: 64px;
	height: 16px;
	font: 12px "微软雅黑";
	color: #636363;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 52px;
	text-align: right;
	background: url(../images/main-now-01.gif) no-repeat;
}

.main-now .main-now-bottom{
	height: 125px;
	width: 1160px;
	margin-left: 212px;
}
.main-now .main-now-bottom .main-now-ul .main-now-li{
	width: 370px;
	height: 125px;
	display: inline-block;
	background: #fff;
}
.main-now .main-now-bottom .main-now-ul .main-now-li:nth-of-type(2){
	margin: 0 25px;
}
.main-now .main-now-bottom .main-now-ul .main-now-li-a{
	width: 370px;
	height: 125px;
	display: inline-block;
}
.main-now .main-now-bottom .main-now-ul .main-now-li .main-now-li-a img{
	width: 120px;
	height: 125px;
	border-top: 5px solid #474747;
	float: left;
}
.main-now .main-now-bottom .main-now-ul .main-now-li .main-now-li-a h3{
	width: 250px;
	font-size: 18px;
	display: inline-block;
	color: #323232;
	border-top: 5px solid #ff7467;
	float: left;
	padding: 15px 0 25px 20px;
	text-indent: 10px;
}
.main-now .main-now-bottom .main-now-ul .main-now-li .main-now-li-a p{
	width: 250px;
	font-size: 12px;
	display: inline-block;
	color: #95a2bc;
	padding-left: 150px;
	/*float: left;*/
	/*text-indent: 10px;*/
}
.main-now .main-now-bottom .main-now-ul .main-now-li .main-now-li-a p span{
	font-size: 24px;
	display: inline-block;
	color: #ff7467;
}


/*主体自由行*/
.main-zyx{
	width: 1583px;
	height: 709px;
	/*background: red;*/
	padding: 0.1px;
}
.main-zyx .main-zyx-top{
	width: 1160px;
	margin: 30px 0 30px 212px;
}
.main-zyx .main-zyx-top>h2{
	font: bold 35px "微软雅黑";
	color: #323232;
	display: inline-block;
}
.main-zyx .main-zyx-top>p{
	font: 12px "微软雅黑";
	color: #636363;
	display: inline-block;
}
.main-zyx .main-zyx-top>ul{
	display: inline-block;
	margin-left: 93px;
}
.main-zyx .main-zyx-top>ul li{
	display: inline-block;
	padding-left: 30px;
}
.main-zyx .main-zyx-top>ul li a{
	font-size: 16px;
	color: #636363;
}
.main-zyx .main-zyx-top>ul li:hover a{
	color: #00b081;
	padding-bottom: 5px;
	border-bottom: 3px solid #16c1a0;
}

.main-zyx .main-zyx-bottom{
	width: 1160px;
	margin-left: 212px;
	position: relative;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one{
	width: 570px;
	height: 267px;
	float: left;
	margin-bottom: 20px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one .main-zyx-pics img{
	width: 570px;
	height: 267px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one .main-zyx-infos{
	width: 178px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 147px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one .main-zyx-infos .main-zyx-type{
	width: 71px;
	height: 36px;
	background: #022025;
	opacity: 0.8;
	float: left;
	color: #fff;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one .main-zyx-infos .main-zyx-price{
	width: 107px;
	height: 36px;
	background: #ff7467;
	float: left;
	color: #fff;
	font-size: 12px;
	line-height: 36px;
	text-align: center;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one .main-zyx-infos .main-zyx-price span{
	font-size: 18px;
	color: #fff;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one .main-zyx-titles{
	width: 570px;
	height: 84px;
	background: #022025;
	opacity: 0.8;
	position: absolute;
	left: 0px;
	top: 183px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one .main-zyx-titles h3{
	font-size: 18px;
	color: #fff;
	margin: 12px 0 8px 24px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-one .main-zyx-titles p{
	font-size: 12px;
	color: #fff;
	margin-left: 15px;
}

.main-zyx .main-zyx-bottom .main-zyx-li{
	width: 275px;
	height: 267px;
	float: left;
	margin-bottom: 20px;
	/*background: red;*/
	position: relative;
}
.main-zyx .main-zyx-bottom .main-zyx-li .main-zyx-pics img{
	width: 275px;
	height: 183px;
}
.main-zyx .main-zyx-bottom .main-zyx-li .main-zyx-infos{
	width: 178px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 147px;
}
.main-zyx .main-zyx-bottom .main-zyx-li .main-zyx-infos .main-zyx-type{
	width: 71px;
	height: 36px;
	background: #022025;
	opacity: 0.8;
	float: left;
	color: #fff;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}
.main-zyx .main-zyx-bottom .main-zyx-li .main-zyx-infos .main-zyx-price{
	width: 107px;
	height: 36px;
	background: #ff7467;
	float: left;
	color: #fff;
	font-size: 12px;
	line-height: 36px;
	text-align: center;
}
.main-zyx .main-zyx-bottom .main-zyx-li .main-zyx-infos .main-zyx-price span{
	font-size: 18px;
	color: #fff;
}
.main-zyx .main-zyx-bottom .main-zyx-li .main-zyx-titles{
	width: 275px;
	height: 84px;
	border: 1px solid #ececec;
	border-top: none;
	position: absolute;
	left: 0px;
	top: 183px;
}
.main-zyx .main-zyx-bottom .main-zyx-li .main-zyx-titles h3{
	font-size: 18px;
	color: #323232;
	margin: 20px 0 0px 15px;
}
.main-zyx .main-zyx-bottom .main-zyx-ul li:nth-of-type(2){
	margin: 0 20px;
}
.main-zyx .main-zyx-bottom .main-zyx-ul li:nth-of-type(5){
	margin: 0 20px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-last{
	width: 275px;
	height: 267px;
	float: right;
	background: url(../images/main-zyx-bg.gif);
	text-align: center;
	/*position: absolute;
	left: 865px;
	top: 267px;*/
}
.main-zyx .main-zyx-bottom .main-zyx-li-last .main-zyx-last-a{
	width: 275px;
	height: 217px;
	font-size: 18px;
	display: inline-block;
	color: #fff;
	padding-top: 50px;
	background: url(../images/main-zyx-03.gif) no-repeat 105px 110px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-last .main-zyx-last-div ul li{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-last .main-zyx-last-div ul li:nth-of-type(3){
	margin-left: -10px;
}
.main-zyx .main-zyx-bottom .main-zyx-li-last .main-zyx-last-div ul li a{
	font-size: 15px;
	color: #fff;
	/*display: inline-block;
	/*text-align: center;*/
}

/*主体城市玩乐*/
.main-wl{
	width: 1583px;
	height: 565px;
	background: #f5f5f5;
	position: relative;
	padding: 0.1px;
}
.main-wl .main-wl-top{
	width: 1160px;
	margin: 30px 0 30px 212px;
}
.main-wl .main-wl-top>h2{
	font: bold 35px "微软雅黑";
	color: #323232;
	display: inline-block;
}
.main-wl .main-wl-top>p{
	font: 12px "微软雅黑";
	color: #636363;
	display: inline-block;
}
.main-wl .main-wl-top>ul{
	display: inline-block;
	margin-left: 93px;
}
.main-wl .main-wl-top>ul li{
	display: inline-block;
	padding-left: 30px;
}
.main-wl .main-wl-top>ul li a{
	font-size: 16px;
	color: #636363;
}
/*.main-wl .main-wl-top>ul li:first-of-type a{
	color: #00b081;
	padding-bottom: 5px;
	border-bottom: 3px solid #16c1a0;
}*/
.main-wl .main-wl-top>ul li:hover a{
	color: #00b081;
	padding-bottom: 5px;
	border-bottom: 3px solid #16c1a0;
}

.main-wl .main-wl-left{
	width: 370px;
	height: 410px;
	position: absolute;
	left: 212px;
	top: 105px;
	/*background: red;*/
}
.main-wl .main-wl-left .main-wl-left-ul1 .main-wl-left-li1 .main-wl-ul1-div1 img{
	width: 370px;
	height: 265px;
}
.main-wl .main-wl-left .main-wl-left-ul1 .main-wl-left-li1 .main-wl-ul1-div2 h3{
	font-size: 18px;
	color: #fff;
	position: absolute;
	left: 20px;
	top: 170px;
}
.main-wl .main-wl-left .main-wl-left-ul1 .main-wl-left-li1 .main-wl-ul1-div3{
	height: 50px;
	width: 370px;
	background: #030304;
	opacity: 0.8;
	position: absolute;
	left: 0px;
	bottom: 145px;
}
.main-wl .main-wl-left .main-wl-left-ul1 .main-wl-left-li1 .main-wl-ul1-div3 p:first-of-type{
	font-size: 12px;
	color: #c0c0c0;
	padding-left: 20px;
	line-height: 50px;
	display: inline-block;
}
.main-wl .main-wl-left .main-wl-left-ul1 .main-wl-left-li1 .main-wl-ul1-div3 p:last-of-type{
	font-size: 12px;
	color: #c0c0c0;
	display: inline-block;
	padding-left: 195px;
}
.main-wl .main-wl-left .main-wl-left-ul1 .main-wl-left-li1 .main-wl-ul1-div3 p:last-of-type span{
	font-size: 24px;
	color: #ff7467;
	font-weight: bold;
}

.main-wl .main-wl-left .main-wl-left-ul2{
	width: 370px;
	height: 120px;
	display: inline-block;
	margin-top: 25px;
	background: #fff;
}
.main-wl .main-wl-left .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div2 h3{
	font-size: 18px;
	color: #323232;
	position: absolute;
	left: 130px;
	top: 310px;
}
.main-wl .main-wl-left .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div3 p{
	font-size: 12px;
	color: #c0c0c0;
	position: absolute;
	left: 280px;
	bottom: 10px;
}
.main-wl .main-wl-left .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div3 p span{
	font-size: 24px;
	color: #ff7467;
	font-weight: bold;
}

.main-wl .main-wl-middle{
	width: 370px;
	height: 410px;
	/*background: pink;*/
	position: absolute;
	left: 607px;
	top: 105px;
}
.main-wl .main-wl-middle .main-wl-left-ul2{
	width: 370px;
	height: 120px;
	background: #fff;
}
.main-wl .main-wl-middle ul:nth-of-type(2){
	margin: 25px 0;
}
.main-wl .main-wl-middle .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div2 h3{
	font-size: 18px;
	color: #323232;
	position: absolute;
	left: 130px;
	top: 310px;
}
.main-wl .main-wl-middle ul:nth-of-type(1) .main-wl-left-li2 .main-wl-ul2-div2 h3{
	position: absolute;
	left: 130px;
	top: 20px;
}
.main-wl .main-wl-middle ul:nth-of-type(1) .main-wl-left-li2 .main-wl-ul2-div3 p{
	position: absolute;
	left: 280px;
	top: 80px;
}
.main-wl .main-wl-middle ul:nth-of-type(2) .main-wl-left-li2 .main-wl-ul2-div2 h3{
	position: absolute;
	left: 130px;
	top: 165px;
}
.main-wl .main-wl-middle ul:nth-of-type(2) .main-wl-left-li2 .main-wl-ul2-div3 p{
	position: absolute;
	left: 280px;
	top: 225px;
}
.main-wl .main-wl-middle .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div3 p{
	font-size: 12px;
	color: #c0c0c0;
	position: absolute;
	left: 280px;
	bottom: 10px;
}
.main-wl .main-wl-middle .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div3 p span{
	font-size: 24px;
	color: #ff7467;
	font-weight: bold;
}

.main-wl .main-wl-right{
	width: 370px;
	height: 410px;
	position: absolute;
	left: 1002px;
	top: 105px;
	/*background: red;*/
}
.main-wl .main-wl-right .main-wl-left-ul2{
	width: 370px;
	height: 120px;
	background: #fff;
	margin-bottom: 25px;
}
.main-wl .main-wl-right .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div2 h3{
	font-size: 18px;
	color: #323232;
	position: absolute;
	left: 130px;
	top: 20px;
}
.main-wl .main-wl-right .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div3 p{
	font-size: 12px;
	color: #c0c0c0;
	position: absolute;
	left: 280px;
	top: 80px;
}
.main-wl .main-wl-right .main-wl-left-ul2 .main-wl-left-li2 .main-wl-ul2-div3 p span{
	font-size: 24px;
	color: #ff7467;
	font-weight: bold;
}

.main-wl .main-wl-right .main-wl-more ul .main-wl-li-last{
	width: 370px;
	height: 265px;
	background: #ff6e6d;
	text-align: center;
}
.main-wl .main-wl-right .main-wl-more .main-wl-li-last .main-wl-last-a{
	width: 370px;
	height: 215px;
	font-size: 18px;
	display: inline-block;
	color: #fff;
	padding-top: 50px;
	background: url(../images/main-wl-03.gif) no-repeat 152px 110px;
}
.main-wl .main-wl-right  .main-wl-more .main-wl-li-last .main-wl-last-div ul li{
	display: inline-block;
	height: 40px;
	line-height: 50px;
	margin-left: 10px;
}
.main-wl .main-wl-right .main-wl-more .main-wl-li-last .main-wl-last-div ul li a{
	font-size: 15px;
	color: #fff;
}



/*主体推荐*/
.main-tj{
	width: 1583px;
	height: 709px;
	padding: 0.1px;
}
.main-tj .main-tj-top{
	width: 1160px;
	margin: 30px 0 30px 212px;
}
.main-tj .main-tj-top>h2{
	font: bold 35px "微软雅黑";
	color: #323232;
	display: inline-block;
}
.main-tj .main-tj-top>p{
	font: 12px "微软雅黑";
	color: #636363;
	display: inline-block;
}
.main-tj .main-tj-top>ul{
	display: inline-block;
	margin-left: 93px;
}
.main-tj .main-tj-top>ul li{
	display: inline-block;
	padding-left: 30px;
}
.main-tj .main-tj-top>ul li a{
	font-size: 16px;
	color: #636363;
}
/*.main-tj .main-tj-top>ul li:first-of-type a{
	color: #00b081;
	padding-bottom: 5px;
	border-bottom: 3px solid #16c1a0;
}*/
.main-tj .main-tj-top>ul li:hover a{
	color: #00b081;
	padding-bottom: 5px;
	border-bottom: 3px solid #16c1a0;
}

.main-tj .main-tj-bottom{
	width: 1160px;
	margin-left: 212px;
	position: relative;
}
.main-tj .main-tj-bottom .main-tj-li-one{
	width: 570px;
	height: 267px;
	float: left;
	margin-bottom: 20px;
}
.main-tj .main-tj-bottom .main-tj-li-one .main-tj-pics img{
	width: 570px;
	height: 267px;
}
.main-tj .main-tj-bottom .main-tj-li-one .main-tj-infos{
	width: 570px;
	position: absolute;
	left: 0;
	bottom: -267px;
}
.main-tj .main-tj-bottom .main-tj-li-one .main-tj-infos .main-tj-type{
	height: 36px;
	float: left;
	color: #fff;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	padding-left: 10px;
}
.main-tj .main-tj-bottom .main-tj-li-one .main-tj-infos .main-tj-price{
	height: 36px;
	float: right;
	color: #c0c0c0;
	font-size: 12px;
	line-height: 36px;
	text-align: center;
	padding-right: 15px;
}
.main-tj .main-tj-bottom .main-tj-li-one .main-tj-infos .main-tj-price span{
	font-size: 24px;
	color: #ff7467;
	font-weight: bold;
}

.main-tj .main-tj-bottom .main-tj-li{
	width: 275px;
	height: 267px;
	float: left;
	margin-bottom: 20px;
	position: relative;
}
.main-tj .main-tj-bottom .main-tj-li .main-tj-pics img{
	width: 275px;
	height: 183px;
}
.main-tj .main-tj-bottom .main-tj-li .main-tj-infos{
	width: 275px;
	height: 84px;
	border: 1px solid #ececec;
	border-top: none;
	position: absolute;
	left: 0px;
	top: 183px;
}
.main-tj .main-tj-bottom .main-tj-li .main-tj-infos .main-tj-type{
	height: 24px;
	font-size: 18px;
	line-height: 24px;
	color: #323232;
	margin: 10px 0 10px 15px;
}
.main-tj .main-tj-bottom .main-tj-li .main-tj-infos .main-tj-price{
	height: 36px;
	color: #c0c0c0;
	font-size: 12px;
	line-height: 36px;
	padding-left: 180px;
}
.main-tj .main-tj-bottom .main-tj-li .main-tj-infos .main-tj-price span{
	font-size: 24px;
	color: #ff7467;
}

.main-tj .main-tj-bottom .main-tj-ul li:nth-of-type(2){
	margin: 0 20px;
}
.main-tj .main-tj-bottom .main-tj-ul li:nth-of-type(5){
	margin: 0 20px;
}
.main-tj .main-tj-bottom .main-tj-li-last{
	width: 275px;
	height: 267px;
	float: right;
	background: #8e7dce;
	text-align: center;
}
.main-tj .main-tj-bottom .main-tj-li-last .main-tj-last-a{
	width: 275px;
	height: 217px;
	font-size: 18px;
	display: inline-block;
	color: #fff;
	padding-top: 50px;
	background: url(../images/main-tj-03.gif) no-repeat 105px 110px;
}
.main-tj .main-tj-bottom .main-tj-li-last .main-tj-last-div ul li{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
}
.main-tj .main-tj-bottom .main-tj-li-last .main-tj-last-div ul li:nth-of-type(3){
	margin-left: -10px;
}
.main-tj .main-tj-bottom .main-tj-li-last .main-tj-last-div ul li a{
	font-size: 15px;
	color: #fff;
	/*display: inline-block;*/
	/*text-align: center;*/
}

/*页脚上*/
.footer-top{
	width: 1583px;
	height: 220px;
	background: #f5f5f5;
	padding: 0.1px;
}
.footer-top .footer-top-ul1{
	height: 50px;
	margin: 10px 0 0 212px;
}
.footer-top .footer-top-ul1 li{
	line-height: 50px;
	display: inline-block;
	padding-left: 28px;
}
.footer-top .footer-top-ul1 li:first-of-type{
	padding-left: 20px;
}
.footer-top .footer-top-ul1 li a{
	background: url(../images/footer-01.gif) no-repeat right center;
	color: #575757;
	font-size: 17px;
	padding-right: 38px;
}
.footer-top .footer-top-ul1 li:last-of-type a{
	background: none;
}

.footer-top .footer-top-div{
	margin: 50px 0 0 212px;
}
.footer-top .footer-top-div .footer-top-ul2{
	width: 360px;
	height: 60px;
	display: inline-block;
	background: url(../images/footer-02.gif) no-repeat;
}
.footer-top .footer-top-div .footer-top-ul2 li{
	width: 280px;
	display: inline-block;
	padding-left: 75px;
}
.footer-top .footer-top-div .footer-top-ul2 li h3{
	font-size: 16px;
	padding-bottom: 5px;
}
.footer-top .footer-top-div .footer-top-ul2 li p{
	font-size: 12px;
}
.footer-top .footer-top-div .footer-top-ul2 a{
	color: #C0C0C0;
	
}

/*页脚下*/
.footer-bottom{
	width: 1583px;
	height: 265px;
	background: #333333;
}
.footer-bottom .footer-left{
	width: 800px;
	height: 265px;
	background: red;
	margin-left: 212px;
	float: left;
	background: url(../images/footer-03.gif) no-repeat 0 50px;
}
.footer-bottom .footer-left div{
	width: 530px;
	line-height: 24px;
	margin: 50px 0 50px 205px;
	color: #c0c0c0;
}
.footer-bottom .footer-left .footer-left-ul1 li{
	display: inline-block;
	line-height: 24px;
	margin-right: 24px;
	font-size: 12px;
	color: #c0c0c0;
}
.footer-bottom .footer-left .footer-left-ul1 li a{
	color: #c0c0c0;
	padding-right: 20px;
}
.footer-bottom .footer-left p{
	color: #c0c0c0;
	line-height: 24px;
}
.footer-bottom .footer-left .footer-left-ul2 li{
	font-size: 12px;
	color: #c0c0c0;
	display: inline-block;
	line-height: 24px;
}
.footer-bottom .footer-left .footer-left-ul2 li a{
	padding-right: 15px;
	color: #c0c0c0;
}


.footer-bottom .footer-right{
	width: 360px;
	height: 265px;
	/*background: pink;*/
	float: left;
}
.footer-bottom .footer-right .footer-right-ul1{
	width: 360px;
	height: 60px;
	margin: 50px 0;
}
.footer-bottom .footer-right .footer-right-ul1 li{
	display: inline-block;
	font-size: 18px;
	line-height: 60px;
	vertical-align: top;
	color: #c0c0c0;
}
.footer-bottom .footer-right .footer-right-ul1 li:first-of-type{
	margin-right: 20px;
}
.footer-bottom .footer-right .footer-right-ul1 li a{
	width: 48px;
	height: 48px;
	display: inline-block;
	background: url(../images/footer-04.gif) no-repeat;
	margin-right: 10px;
}
